:root {
	--white: #ffffff;

	--gray0: #ffffff;
	--gray100: #f3f4f6;
    --gray200: #e9ecef;
    --gray300: #dee2e6;
    --gray400: #ced4da;
    --gray500: #adb5bd;
    --gray600: #6c757d;
    --gray700: #495057;
    --gray800: #343a40;
    --gray900: #212529;

	--danger: #dc3545;
	--success: #198754;

	--primary: #007bff;
	--secondary: #6c757d;

	--link-color: var(--gray900);

	--border-color: var(--gray400);

	--font-basic: 1.6rem;

	--line-height: 1.6;

	/* gutter */
	--gutter4: 0.2rem;
	--gutter8: 0.4rem;
	--gutter12: 0.6rem;
	--gutter16: 0.8rem;
	--gutter20: 1.0rem;
	--gutter24: 1.2rem;
	--gutter28: 1.4rem;
	--gutter32: 1.6rem;
	--gutter40: 2.0rem;
	--gutter48: 2.4rem;
	--gutter56: 2.8rem;
	--gutter64: 3.2rem;

	/* container */
	--container_gap: 2.4rem;

	/* spacing 외부 여백 */
	--spacing_0: 0;
	--spacing_xs: 1.2rem;
	--spacing_sm: 2.0rem;
	--spacing_md: 3.2rem;
	--spacing_lg: 4.8rem;
	--spacing_xl: 6.4rem;

	/* gap 내부 여백 */
	--gap_sx: 0.4rem;
	--gap_sm: 0.8rem;
	--gap_md: 1.2rem;
	--gap_lg: 1.6rem;
	--gap_xl: 2.0rem;

	/* shadow */
	--box-shadow: 0 0.2rem 0.2rem 0 rgba(14, 34, 56, .07);

	/* form item */
	--form-item-margin: 3.2rem;

	/* form element */
	--form-ele-font: 1.6rem;
	--form-ele-font-sm: 1.4rem;
	--form-ele-font-lg: 2.0rem;
	--form-ele-line-height: 1.5;

	--form-ele-padding-x: 1.6rem;
	--form-ele-padding-y: 1.2rem;
	--form-ele-padding-sm-x: calc(var(--form-ele-padding-x) * 0.6);
	--form-ele-padding-sm-y: calc(var(--form-ele-padding-y) * 0.6);
	--form-ele-padding-lg-x: calc(var(--form-ele-padding-x) * 2.0);
	--form-ele-padding-lg-y: calc(var(--form-ele-padding-y) * 1.2);

	--form-ele-round-padding-x: calc(var(--form-ele-padding-x) * 2.0);
	--form-ele-round-padding-sm-x: calc(var(--form-ele-padding-sm-x) * 2.0);
	--form-ele-round-padding-lg-x: calc(var(--form-ele-padding-lg-x) * 2.0);

	--form-ele-border-color: #e3e3e3;

	--form-ele-radius: 0.4rem;

	/* form label */
	--form-label-margin: 0.8rem;

	/* form message */
	--form-message-font : var(--form-ele-font-sm);

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: var(--link-color);
}

button {
	border: none;
	background-color: transparent;
	font-size: var(--font-basic);
	color: inherit;
	cursor: pointer;
}

html,
body,
#app,
#container,
.sections {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	color: var(--gray900);
	line-height: var(--line-height);
	font-size: var(--font-basic);
}

p {
	margin-top: var(--spacing_xs);
	color: var(--gray700);
}

/* 접근성 */
.a11y {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

/* spacing */
.spacing_0 {
	margin-top: var(--spacing_0) !important;
}
.spacing_xs {
	margin-top: var(--spacing_xs) !important;
}
.spacing_sm {
	margin-top: var(--spacing_sm) !important;
}
.spacing_md {
	margin-top: var(--spacing_md) !important;
}
.spacing_lg {
	margin-top: var(--spacing_lg) !important;
}
.spacing_xl {
	margin-top: var(--spacing_xl) !important;
}

/* gap */
.gap_0 {
	gap: 0 !important;
}
.gap_xs {
	gap: var(--gap_xs) !important;
}
.gap_sm {
	gap: var(--gap_sm) !important;
}
.gap_md {
	gap: var(--gap_md) !important;
}
.gap_lg {
	gap: var(--gap_lg) !important;
}
.gap_xl {
	gap: var(--gap_xl) !important;
}

/* margin */
.mgt0 {
	margin-top: 0 !important;
}

.mgt4 {
	margin-top: 0.4rem !important;
}

.mgt8 {
	margin-top: 0.8rem !important;
}

.mgt12 {
	margin-top: 1.2rem !important;
}

.mgt16 {
	margin-top: 1.6rem !important;
}

.mgt20 {
	margin-top: 2.0rem !important;
}

.mgt24 {
	margin-top: 2.4rem !important;
}

.mgt28 {
	margin-top: 2.8rem !important;
}

.mgt32 {
	margin-top: 3.2rem !important;
}

.mgt36 {
	margin-top: 3.6rem !important;
}

.mgt40 {
	margin-top: 4.0rem !important;
}

.mgt48 {
	margin-top: 4.8rem !important;
}

.mgt60 {
	margin-top: 6.0rem !important;
}

.mgb0 {
	margin-bottom: 0 !important;
}

.mgb4 {
	margin-bottom: 0.4rem !important;
}

.mgb8 {
	margin-bottom: 0.8rem !important;
}

.mgb12 {
	margin-bottom: 1.2rem !important;
}

.mgb16 {
	margin-bottom: 1.6rem !important;
}

.mgb20 {
	margin-bottom: 2.0rem !important;
}

.mgb24 {
	margin-bottom: 2.4rem !important;
}

.mgb28 {
	margin-bottom: 2.8rem !important;
}

.mgb32 {
	margin-bottom: 3.2rem !important;
}

.mgb36 {
	margin-bottom: 3.6rem !important;
}

.mgb40 {
	margin-bottom: 4.0rem !important;
}

.mgb48 {
	margin-bottom: 4.8rem !important;
}

.mgb60 {
	margin-bottom: 6.0rem !important;
}

.mgl0 {
	margin-left: 0 !important;
}

.mgl4 {
	margin-left: 0.4rem !important;
}

.mgl8 {
	margin-left: 0.8rem !important;
}

.mgl12 {
	margin-left: 1.2rem !important;
}

.mgl16 {
	margin-left: 1.6rem !important;
}

.mgl20 {
	margin-left: 2.0rem !important;
}

.mgl24 {
	margin-left: 2.4rem !important;
}

.mgl28 {
	margin-left: 2.8rem !important;
}

.mgl32 {
	margin-left: 3.2rem !important;
}

.mgl36 {
	margin-left: 3.6rem !important;
}

.mgl40 {
	margin-left: 4.0rem !important;
}

.mgl48 {
	margin-left: 4.8rem !important;
}

.mgl60 {
	margin-left: 6.0rem !important;
}

.mgr0 {
	margin-right: 0 !important;
}

.mgr4 {
	margin-right: 0.4rem !important;
}

.mgr8 {
	margin-right: 0.8rem !important;
}

.mgr12 {
	margin-right: 1.2rem !important;
}

.mgr16 {
	margin-right: 1.6rem !important;
}

.mgr20 {
	margin-right: 2.0rem !important;
}

.mgr24 {
	margin-right: 2.4rem !important;
}

.mgr28 {
	margin-right: 2.8rem !important;
}

.mgr32 {
	margin-right: 3.2rem !important;
}

.mgr36 {
	margin-right: 3.6rem !important;
}

.mgr40 {
	margin-right: 4.0rem !important;
}

.mgr48 {
	margin-right: 4.8rem !important;
}

.mgr60 {
	margin-right: 6.0rem !important;
}

/* size */
.w5 {
	width: 5% !important;
}

.w10 {
	width: 10% !important;
}

.w15 {
	width: 15% !important;
}

.w20 {
	width: 20% !important;
}

.w25 {
	width: 25% !important;
}

.w30 {
	width: 30% !important;
}

.w35 {
	width: 35% !important;
}

.w40 {
	width: 40% !important;
}

.w45 {
	width: 45% !important;
}

.w50 {
	width: 50% !important;
}

.w55 {
	width: 55% !important;
}

.w60 {
	width: 60% !important;
}

.w65 {
	width: 65% !important;
}

.w70 {
	width: 70% !important;
}

.w75 {
	width: 75% !important;
}

.w80 {
	width: 80% !important;
}

.w85 {
	width: 85% !important;
}

.w90 {
	width: 90% !important;
}

.w95 {
	width: 95% !important;
}

.w100 {
	width: 100% !important;
}

/* weight */
.fw400 {
	font-weight: 400 !important;
}

.fw500 {
	font-weight: 500 !important;
}

.fw700 {
	font-weight: 700 !important;
}

/* align */
.align_c {
	text-align: center !important;
}

.align_l {
	text-align: left !important;
}

.align_r {
	text-align: right !important;
}

/* visible */
.hidden {
	overflow: hidden !important;
}

.block {
	display: block !important;
}

.none {
	display: none !important;
}

/* flex */
.flex {
	display: flex !important;
}

.flex_a_center {
	display: flex !important;
	align-items: center !important;
}

.flex_center {
	display: flex !important;
	justify-content: center !important;
}

.flex_end {
	display: flex !important;
	justify-content: flex-end !important;
}

.flex_between {
	display: flex !important;
	justify-content: space-between !important;
}

.flex_between_center {
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
}

.flex_around {
	display: flex !important;
	justify-content: space-around !important;
}

.flex_nowrap {
	flex-wrap: nowrap !important;
}

.grow1 {
	flex-grow: 1 !important;
}

.grow0 {
	flex-grow: 0 !important;
}

.shrink1 {
	flex-shrink: 1 !important;
}

.shrink0 {
	flex-shrink: 0 !important;
}

/* bg */
.bg_gray {
	background-color: var(--gray100);
}


/* ==================== grid ==================== */

.row {
	display: flex;
	flex-wrap: wrap;
}

.row>[class^="col"] {
	flex: 0 0 auto;
	width: 100%;
}

.col1 {
	width: 8.3333% !important;
}

.col2 {
	width: 16.6666% !important;
}

.col3 {
	width: 25% !important;
}

.col4 {
	width: 33.3333% !important;
}

.col5 {
	width: 41.6666% !important;
}

.col6 {
	width: 50% !important;
}

.col7 {
	width: 58.3333% !important;
}

.col8 {
	width: 66.6666% !important;
}

.col9 {
	width: 75% !important;
}

.col10 {
	width: 83.3333% !important;
}

.col11 {
	width: 91.6666% !important;
}

.col12 {
	width: 100% !important;
}

/* gutter */
.gutter_x4 {
	margin-left: calc(var(--gutter4) * -1) !important;
	margin-right: calc(var(--gutter4) * -1) !important;
}

.gutter_x4>[class^="col"] {
	padding-left: var(--gutter4) !important;
	padding-right: var(--gutter4) !important;
}

.gutter_x8 {
	margin-left: calc(var(--gutter8) * -1) !important;
	margin-right: calc(var(--gutter8) * -1) !important;
}

.gutter_x8>[class^="col"] {
	padding-left: var(--gutter8) !important;
	padding-right: var(--gutter8) !important;
}

.gutter_x12 {
	margin-left: calc(var(--gutter12) * -1) !important;
	margin-right: calc(var(--gutter12) * -1) !important;
}

.gutter_x12>[class^="col"] {
	padding-left: var(--gutter12) !important;
	padding-right: var(--gutter12) !important;
}

.gutter_x16 {
	margin-left: calc(var(--gutter16) * -1) !important;
	margin-right: calc(var(--gutter16) * -1) !important;
}

.gutter_x16>[class^="col"] {
	padding-left: var(--gutter16) !important;
	padding-right: var(--gutter16) !important;
}

.gutter_x20 {
	margin-left: calc(var(--gutter20) * -1) !important;
	margin-right: calc(var(--gutter20) * -1) !important;
}

.gutter_x20>[class^="col"] {
	padding-left: var(--gutter20) !important;
	padding-right: var(--gutter20) !important;
}

.gutter_x24 {
	margin-left: calc(var(--gutter24) * -1) !important;
	margin-right: calc(var(--gutter24) * -1) !important;
}

.gutter_x24>[class^="col"] {
	padding-left: var(--gutter24) !important;
	padding-right: var(--gutter24) !important;
}

.gutter_x28 {
	margin-left: calc(var(--gutter28) * -1) !important;
	margin-right: calc(var(--gutter28) * -1) !important;
}

.gutter_x28>[class^="col"] {
	padding-left: var(--gutter28) !important;
	padding-right: var(--gutter28) !important;
}

.gutter_x32 {
	margin-left: calc(var(--gutter32) * -1) !important;
	margin-right: calc(var(--gutter32) * -1) !important;
}

.gutter_x32>[class^="col"] {
	padding-left: var(--gutter32) !important;
	padding-right: var(--gutter32) !important;
}

.gutter_y4 {
	margin-top: calc(var(--gutter4) * -2) !important;
}

.gutter_y4>[class^="col"] {
	margin-top: calc(var(--gutter4) * 2) !important;
}

.gutter_y8 {
	margin-top: calc(var(--gutter8) * -2) !important;
}

.gutter_y8>[class^="col"] {
	margin-top: calc(var(--gutter8) * 2) !important;
}

.gutter_y12 {
	margin-top: calc(var(--gutter12) * -2) !important;
}

.gutter_y12>[class^="col"] {
	margin-top: calc(var(--gutter12) * 2) !important;
}

.gutter_y16 {
	margin-top: calc(var(--gutter16) * -2) !important;
}

.gutter_y16>[class^="col"] {
	margin-top: calc(var(--gutter16) * 2) !important;
}

.gutter_y20 {
	margin-top: calc(var(--gutter20) * -2) !important;
}

.gutter_y20>[class^="col"] {
	margin-top: calc(var(--gutter20) * 2) !important;
}

.gutter_y24 {
	margin-top: calc(var(--gutter24) * -2) !important;
}

.gutter_y24>[class^="col"] {
	margin-top: calc(var(--gutter24) * 2) !important;
}

.gutter_y28 {
	margin-top: calc(var(--gutter28) * -2) !important;
}

.gutter_y28>[class^="col"] {
	margin-top: calc(var(--gutter28) * 2) !important;
}

.gutter_y32 {
	margin-top: calc(var(--gutter32) * -2) !important;
}

.gutter_y32>[class^="col"] {
	margin-top: calc(var(--gutter32) * 2) !important;
}

.gutter_4 {
	margin-top: calc(var(--gutter4) * -2) !important;
	margin-left: calc(var(--gutter4) * -1) !important;
	margin-right: calc(var(--gutter4) * -1) !important;
}

.gutter_4>[class^="col"] {
	margin-top: calc(var(--gutter4) * 2) !important;
	padding-left: var(--gutter4) !important;
	padding-right: var(--gutter4) !important;
}

.gutter_8 {
	margin-top: calc(var(--gutter8) * -2) !important;
	margin-left: calc(var(--gutter8) * -1) !important;
	margin-right: calc(var(--gutter8) * -1) !important;
}

.gutter_8>[class^="col"] {
	margin-top: calc(var(--gutter8) * 2) !important;
	padding-left: var(--gutter8) !important;
	padding-right: var(--gutter8) !important;
}

.gutter_12 {
	margin-top: calc(var(--gutter12) * -2) !important;
	margin-left: calc(var(--gutter12) * -1) !important;
	margin-right: calc(var(--gutter12) * -1) !important;
}

.gutter_12>[class^="col"] {
	margin-top: calc(var(--gutter12) * 2) !important;
	padding-left: var(--gutter12) !important;
	padding-right: var(--gutter12) !important;
}

.gutter_16 {
	margin-top: calc(var(--gutter16) * -2) !important;
	margin-left: calc(var(--gutter16) * -1) !important;
	margin-right: calc(var(--gutter16) * -1) !important;
}

.gutter_16>[class^="col"] {
	margin-top: calc(var(--gutter16) * 2) !important;
	padding-left: var(--gutter16) !important;
	padding-right: var(--gutter16) !important;
}

.gutter_20 {
	margin-top: calc(var(--gutter20) * -2) !important;
	margin-left: calc(var(--gutter20) * -1) !important;
	margin-right: calc(var(--gutter20) * -1) !important;
}

.gutter_20>[class^="col"] {
	margin-top: calc(var(--gutter20) * 2) !important;
	padding-left: var(--gutter20) !important;
	padding-right: var(--gutter20) !important;
}

.gutter_24 {
	margin-top: calc(var(--gutter24) * -2) !important;
	margin-left: calc(var(--gutter24) * -1) !important;
	margin-right: calc(var(--gutter24) * -1) !important;
}

.gutter_24>[class^="col"] {
	margin-top: calc(var(--gutter24) * 2) !important;
	padding-left: var(--gutter24) !important;
	padding-right: var(--gutter24) !important;
}

.gutter_28 {
	margin-top: calc(var(--gutter28) * -2) !important;
	margin-left: calc(var(--gutter28) * -1) !important;
	margin-right: calc(var(--gutter28) * -1) !important;
}

.gutter_28>[class^="col"] {
	margin-top: calc(var(--gutter28) * 2) !important;
	padding-left: var(--gutter28) !important;
	padding-right: var(--gutter28) !important;
}

.gutter_32 {
	margin-top: calc(var(--gutter32) * -2) !important;
	margin-left: calc(var(--gutter32) * -1) !important;
	margin-right: calc(var(--gutter32) * -1) !important;
}

.gutter_32>[class^="col"] {
	margin-top: calc(var(--gutter32) * 2) !important;
	padding-left: var(--gutter32) !important;
	padding-right: var(--gutter32) !important;
}





/* ==================== 타이틀 ==================== */
[class*='h_tit'] {
	position: relative;
	color: var(--black);
	font-weight: 700;
}

.h_tit1 {
	margin-top: var(--spacing_xl);
	font-size: 3.2rem;
}

.h_tit2 {
	margin-top: var(--spacing_lg);
	font-size: 2.4rem;
}

.h_tit3 {
	margin-top: var(--spacing_md);
	font-size: 2.0rem;
}

.h_tit4 {
	margin-top: var(--spacing_sm);
	font-size: 1.6rem;
}

.h_tit1:first-child,
.h_tit2:first-child,
.h_tit3:first-child,
.h_tit4:first-child {
	margin-top: 0;
}